body{
    background-color: black;
    color: white;
}

.geral{
    list-style: none;
    padding: 0;
    width: 25%;
    height: 100%;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
}

a{
    color: blue;
}

h1{
    background-color: red;
    padding: 5px;
    margin: -10px;
}

.espaco{
    text-indent: 10px;
    list-style: disc;
}