img{
    border-radius: 10px;/*arredonda as pontas da img, qnt mais px mais redondo fica*/
    width: 190px;
    height: 190px;
}

body {
    background-color: black;
    color: white; /*cor das letras*/
    margin-left: 45px;
}

h1{
    text-align: center;
}